@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #151e21;
    font-family: 'Roboto Slab', serif;
}
/* ******************** viewport ****************** */
body{
    height: 100vh;
}
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
}
/* ********* NAV-BAR // lOGO ********* */
.navbar:hover {
    border: 2px solid #566c74f1;
}
.navbar .gap-3{
    display: flex;
    flex-wrap: wrap;
}
.logo {
    margin-left: 3rem;
    height: 4rem;
}

.navbar-brand {
    display: flex;
    flex-wrap: wrap;
}

/* *************************** MAIN *********************** */
.display-1 {
    color: #00c8e0;
}

main .form {
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #151e21;
    padding: 2rem;
}

.form:hover {
    border: 2px solid #566c74f1;
}

main .form .form-check {
    margin: 0.4rem;
}

main .form .form-check .form-check-label {
    gap: 1rem;
    color: #7ddfeece;
}

main .form .form-serch {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

main .form .form-serch .form-control {
    width: 50%;
}

/* *** CARDS *********************** */
.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 1rem;
}

.cards-container:hover {
    border: 2px solid #566c74f1;
}

.card {
    display: flex;
    width: 18rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn-container {
    text-align: right;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    height: 10rem;
}
.card-title{
    text-align: center;
    padding-bottom: 8rem;
    color: #00c8e0;
}
.btn-outline-info {
    --bs-btn-color: #7ddfeee8;
    --bs-btn-border-color: #7ddfeee8;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #7ddfeee8;
    --bs-btn-hover-border-color: #7ddfeee8;
    --bs-btn-focus-shadow-rgb: 13,202,240;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #7ddfeee8;;
    --bs-btn-active-border-color: #7ddfeee8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #7ddfeee8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #7ddfeee8;
    --bs-gradient: none;
}
/* *************************** fOOTER *********************** */
footer:hover {
    border: 2px solid #566c74f1;
}
footer a img{
    max-width: 3rem;
    max-height: 3rem;
}
footer .footer-social{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
footer .footer-social>a {
    height: 1rem;
}
footer .footer-h3{
    padding-right: 5rem;
    color: #7ddfeee8;
}
/* ********************************* CONTACTS **********************/

.label-container:hover {
    border: 2px solid #566c74f1;
}
.mb-3{
    width: 80%;
}

.label-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}
.material-symbols-outlined{
    background-color: #151e21;
}
.material-symbols-outlined:hover{
    background: #7ddfeece;
}
    
/* **********************************    Stats ************************** */
.table-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
    min-height: 80vh;
    padding: 5rem;
}
.table-container:hover { 
    border: 2px solid #566c74f1;
    } 
.table{
    color: #7ddfeee8;
    text-align: center!important;
}
.table-hover:hover{
    color: #7ddfeece;
    border-collapse: separate;
    font-size: 1rem;
}
 
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style:hidden;
    border-width: 0;
    }
  
.title {
    font-size: 1.5rem;
}

/* ******************** DETAILS ************* */
.details-card{
    width: 80%;
    align-self: center;
    }

/* *************** mediaquery ************ */

@media only screen and (max-width:928px) {
    .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center;
    width: 100%;
/* navbar */

}
main .form {
     align-items: center;
    }
main .form .form-serch {
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    }
    .section-query{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        }   
}
@media only screen and (max-width:818px){
    main .form {
             justify-content: center;
}
main .form .form-serch .form-control {
    width: 20rem;
}

}